
@{
    ViewData["Title"] = "AboutUs";
}
<body>
<style>
    body{
       background-color:lightgray;
    }
    h1{
        text-align:center;
        font-size:x-large;

    }
    h2{
        font-size:large;
    }
    p{
        font-size:medium;
        color:darkred
    }
</style>

<h1>Soap Application</h1>
<h2>About Soap Appliication</h2>
<p>
        At my company, i believe that bathing is a most necessary part of the day. it is when your body gets to relax and to nurture the skin. that is the reason for us to produce luxurious soaps and here we have listed some of our best products. We prioritize using organic and sustainable ingridients, we insure that our products are not only good for the skin but also for the enviornment as we avoid using harsh chemicals and artificial fragrances. Our soaps can be created based up on your preferences, whether it is a specific scent, texture or packing design. we ensure that the soaps meet highest standards before reaching your hands. We source premium quality oils, butters, and botanicals, combining age-old soap-making traditions with contemporary techniques to create soaps that are gentle, moisturizing, and utterly indulgent.We believe in giving back to the community. A percentage of our profits go towards local charities and causes we care about.
    </p>
</body>