@{
    ViewData["Title"] = "Home Page";
}
<body>
    <style>
        body{
            background-color: lightyellow;
        }
        img{
            width: 178px;
        }
        section{
            display:flex;
        }
        section div{
            margin-left:40px;
        }
        h1{
            font-size:larger
        }
        p{
            color: darkblue;
        }

    </style>

<div class="text-center">
    <h1 class="display-4">Soap Application</h1>
    <p>Welcome to the Soap Application</a>.</p>
</div>
<section>
    <div> 
        <img src="~/images/soap1.jpeg" alt="" />
        <p>1</p>
    </div>
    <div>
        <img src="~/images/soap2.jpeg" alt="" />
        <p>2</p>
    </div>

</section>
</body>